<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../componentesproyecto/login-element.html">
<link rel="import" href="../componentesproyecto/registro-element.html">


<dom-module id="loginregister-contenedor">
  <template>
    <style>
    :host{

    }
    </style>

    <div class="container">

      <login-element hidden = {{vistalogin}}></login-element>
      <registro-element hidden = {{vistaregistro}}></registro-element>

    </div>

  </template>
  <script>
    class LoginRegisterContainer extends Polymer.Element {
      static get is() { return 'loginregister-contenedor'; }
      static get properties() {
        return {
          vistalogin:{
            type: Boolean,
            value: false
          },
          vistaregistro:{
            type: Boolean,
            value: true
          }
        };
      }
      mostrarComponentes() {
        if(this.vistalogin) {
          this.vistaregistro = false;
        } else {
          this.vistaregistro = true;
        }
      }
    }

    window.customElements.define(LoginRegisterContainer.is, LoginRegisterContainer);

  </script>
</dom-module>
