<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="my-icons.html">

<link rel="import" href="my-login.html">
<link rel="lazy-import" href="my-cuentas.html">
<link rel="lazy-import" href="my-movimientos.html">
<link rel="lazy-import" href="my-geolocalizacion.html">
<link rel="lazy-import" href="my-view1.html">
<link rel="lazy-import" href="my-view2.html">
<link rel="lazy-import" href="my-view3.html">
<link rel="lazy-import" href="my-view404.html">

<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #ffffff;
        background-color: #06447a;
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
      #logoutbtn{
        background-color: #06447a;
      }
    </style>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <!-- Drawer content -->
      <!--
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]" hidden="[[hidden1]]">
        <app-toolbar>Menu</app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation" >
          <a name="login" href="[[rootPath]]login">Login</a>
          <a name="cuentas" href="[[rootPath]]cuentas">Mis cuentas</a>
          <a name="movimientos" href="[[rootPath]]movimientos">Mis movimientos</a>
          <a name="view1" href="[[rootPath]]view1">Datos de interés</a>
          <a name="view2" href="[[rootPath]]view2">View Two</a>
          <a name="view3" href="[[rootPath]]view3">View Three</a>
        </iron-selector>
      </app-drawer>
      -->
      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <img src="https://www.viviendocali.com/wp-content/uploads/2017/01/BBVA-en-Cali.jpg" width=135px height=65px>
            <div main-title> Proyecto TechU </div>
            <button id="logoutbtn" class="logout" hidden = "[[hidden1]]" name="logout"  on-click="logout">Salir</button>
            <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
                <a name="login" href="[[rootPath]]login"></a>
                <a name="registro" href="[[rootPath]]registro"></a>
                <a name="movimientos" href="[[rootPath]]movimientos"></a>
                <a name="cuentas" href="[[rootPath]]cuentas"></a>
             </iron-selector>
          </app-toolbar>
        </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="view404"
            role="main">
          <my-login id="loginid" name="login"></my-login>
          <my-cuentas id="cuentas" name="cuentas"></my-cuentas>
          <my-movimientos id="movimientos" name="movimientos"></my-movimientos>
          <my-geolocalizacion id="geolocalizacion" name="geolocalizacion"></my-geolocalizacion>
          <my-view1 name="view1"></my-view1>
          <my-view2 name="view2"></my-view2>
          <my-view3 name="view3"></my-view3>
          <my-view404 name="view404"></my-view404>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: String,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          hidden1: {
            type: Boolean,
            value: false
          }
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'login';

        // Close a non-persistent drawer when the page & route are changed.
        /*if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }*/
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        var resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'view404';
      }

      connectedCallback() {
        var __this = this;
        super.connectedCallback();

        this.$.loginid.addEventListener('loginEvent', function(e){
          this.set('route.path', "/cuentas");
          __this.hidden1 = false;
        });

        this.$.cuentas.addEventListener('verMovimientos', function(e){
          this.set('route.path', "/movimientos");
          __this.$.movimientos.mostrar();
        });

        this.$.movimientos.addEventListener('verMapa', function(e){
          __this.$.geolocalizacion.latitud = localStorage.getItem('latitud');
          __this.$.geolocalizacion.longitud = localStorage.getItem('longitud');
          this.set('route.path', "/geolocalizacion");
        });
        this.$.movimientos.addEventListener('loginEvent', function(e){

          this.set('route.path', "/cuentas");
        });
        this.$.geolocalizacion.addEventListener('verMovimientos', function(e){
          this.set('route.path', "/movimientos");
        });

      }
      logout(){
        this.set('route.path', "/login");
        localStorage.clear();
      }

    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
