<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html" />
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">

<dom-module id="my-cuentas">
  <template>
  <style include="shared-styles">
    :host{

    }
  </style>
  <app-location
    route="{{route}}"
    url-space-regex="^[[rootPath]]">
  </app-location>

  <app-route
    route="{{route}}"
    pattern="[[rootPath]]:page"
    data="{{routeData}}"
    tail="{{subroute}}">
  </app-route>


  <div class="card">
    <div class="row">
      <h1 class="col-lg-12">Gestor de cuentas</h1>
        <!-- <button type="button" on-click="mostrar">Ver cuentas</button> -->
      <table class="table table-striped">
        <tbody>
          <tr>
            <th>IdCuenta</th>
            <th>DescCuenta</th>
            <th>Movimientos</th>
          </tr>
          <template is="dom-repeat" items="{{cuentas}}">
            <tr>
              <td>
                [[item.idCuenta]]
              </td>
              <td>
                [[item.descCuenta]]
              </td>
              <td>
                <button on-click="order">Ver movimientos</button>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </div>
  </template>
  <script>
  class MyCuentas extends Polymer.Element {
    static get is() { return 'my-cuentas'; }
    static get properties() {
      return {
        cuentas: {
          type: Array,
          notify: true
        },
        botonvalue: String
      };
    }
    ready(){
      super.ready();
      this.mostrar();
    }
    mostrar(){
      var request = new XMLHttpRequest();
      var dnicliente = localStorage.getItem('dni');
      request.open("GET", "http://localhost:3000/clientes/"+dnicliente+"/cuentas", false);
      request.setRequestHeader("Accept", "application/json");
      request.send();
      this.cuentas = JSON.parse(request.responseText);
      console.log("CUENTAS: "+this.cuentas);
    }
    order(e) {
      //console.log(e.model);
      console.log(e.model.__data.index);
      var indexMov = e.model.__data.index;
      var idCuent = e.model.__data.item.idCuenta;
      localStorage.setItem('indexMov', indexMov);
      localStorage.setItem('idCuent', idCuent);

      this.dispatchEvent(new CustomEvent('verMovimientos', { indexMov }));

    }
  }

  window.customElements.define(MyCuentas.is, MyCuentas);


  </script>

</dom-module>
