<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html" />
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/google-map/google-map.html">

<dom-module id="my-geolocalizacion">
  <template>
  <style include="shared-styles">
    :host{

    }
    google-map {
      height: 300px;
    }
    #btn{

    }

  </style>
  <app-location
    route="{{route}}"
    url-space-regex="^[[rootPath]]">
  </app-location>

  <app-route
    route="{{route}}"
    pattern="[[rootPath]]:page"
    data="{{routeData}}"
    tail="{{subroute}}">
  </app-route>


  <div class="card">
    <button id="btn"on-click="volver" class="forgot-password">Volver</button>
    <h1 class="col-lg-12">Localización del movimiento</h1><br><br><br>
      <google-map zoom=5 latitude=[[latitud]] longitude=[[longitud]] fit-to-markers api-key="AIzaSyCtOX3UIcFZKii5BUdXCEpKIBYmHC9nxAI">
        <google-map-marker latitude=[[latitud]] longitude=[[longitud]] draggable="false"></google-map-marker>
      </google-map>
  </div>
  </template>
  <script>

  class MyGeolocalizacion extends Polymer.Element {
    static get is() { return 'my-geolocalizacion'; }
    static get properties() {
      return {
        movimientos: {
          type: Array,
          notify: true
        },
        latitud:{
          type: Number,
          value: localStorage.getItem('latitud')
        },
        longitud:{
          type: Number,
          value: localStorage.getItem('longitud')
        }
      };
    }
    volver(){
      var flag = "volviendo";
      this.dispatchEvent(new CustomEvent('verMovimientos', { flag }));
    }

  }

  window.customElements.define(MyGeolocalizacion.is, MyGeolocalizacion);

  </script>

</dom-module>
