<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="my-register.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">

<dom-module id="my-login">
  <template>
  <style include="shared-styles">
    :host{

    }

    .card-container.card {
        max-width: 350px;
        padding: 40px 40px;
        background-image: url(https://www.bbva.com.co/fbin/mult/Preaprobados_BBVA-b-d_tcm1304-667986.jpg);
    }


    .btn {
        font-weight: 700;
        height: 36px;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        cursor: default;
    }

    /*
     * Card component
     */
    .card {
        background-color: #8bc6fa;
        /* just in case there no content*/
        padding: 20px 25px 30px;
        margin: 0 auto 25px;
        margin-top: 50px;
        /* shadows and rounded borders */
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .profile-img-card {
        width: 96px;
        height: 96px;
        margin: 0 auto 10px;
        display: block;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }

    /*
     * Form styles
     */
    .profile-name-card {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin: 10px 0 0;
        min-height: 1em;
    }

    .reauth-email {
        display: block;
        color: #404040;
        line-height: 2;
        margin-bottom: 10px;
        font-size: 14px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .form-signin #inputEmail,
    .form-signin #inputPassword {
        direction: ltr;
        height: 44px;
        font-size: 16px;
    }

    .form-signin input[type=email],
    .form-signin input[type=password],
    .form-signin input[type=text],
    .form-signin button {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        z-index: 1;
        position: relative;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .form-signin .form-control:focus {
        border-color: rgb(104, 145, 162);
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    }

    .btn.btn-signin {
        /*background-color: #4d90fe; */
        background-color: rgb(104, 145, 162);
        /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
        padding: 0px;
        font-weight: 700;
        font-size: 14px;
        height: 36px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: none;
        -o-transition: all 0.218s;
        -moz-transition: all 0.218s;
        -webkit-transition: all 0.218s;
        transition: all 0.218s;
    }

    .btn.btn-signin:hover,
    .btn.btn-signin:active,
    .btn.btn-signin:focus {
        background-color: rgb(12, 97, 33);
    }

    .forgot-password {
        color: rgb(104, 145, 162);
    }

    .forgot-password:hover,
    .forgot-password:active,
    .forgot-password:focus{
        color: rgb(12, 97, 33);
    }
  </style>
  <app-location
    route="{{route}}"
    url-space-regex="^[[rootPath]]">
  </app-location>

  <app-route
    route="{{route}}"
    pattern="[[rootPath]]:page"
    data="{{routeData}}"
    tail="{{subroute}}">
  </app-route>

  <div class="card" hidden=[[hidden]]>
      <div class="card card-container">
          <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
          <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
          <p id="profile-name" class="profile-name-card"></p>
          <form class="form-signin">
              <span id="reauth-email" class="reauth-email"></span>
              <input id="inputDni" class="form-control" placeholder="DNI" value={{dni::input}} required autofocus>
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" value={{password::input}} required>
              <button on-click="login" class="btn btn-lg btn-primary btn-block btn-signin">Sign in</button>
          </form><!-- /form -->
          <button on-click="registervisible" class="forgot-password">
              Create count
          </button>
      </div><!-- /card-container -->
  </div><!-- /container -->

  <div class="card" hidden="[[regvisible]]">
    <button on-click="loginvisible" class="forgot-password">Volver</button>
    <my-register></my-register>
  </div>


  </template>

  <script>
  class MyLogin extends Polymer.Element {
    static get is() { return 'my-login'; }
    static get properties() {
      return {
        hidden:{
          type: Boolean,
          value: false
        },
        regvisible: {
          type: Boolean,
          value: true
        },
        dni: {
          type: String,
          value: ""
        },
        password: {
          type: String,
          value: ""
        }
      };
    }
    registervisible(){
      this.hidden = true;
      this.regvisible = false;
    }
    loginvisible(){
      this.hidden = false;
      this.regvisible = true;
    }
    login(){
      var nuevoLogin = {
        dni: this.dni,
        password : this.password
      };

      var request = new XMLHttpRequest();
      request.open("POST","http://localhost:3000/loginmongo",false);
      request.setRequestHeader("Accept","application/json");
      request.setRequestHeader("Content-Type","application/json");
      var body = JSON.stringify(nuevoLogin);
      request.send(body);
      console.log(request.responseText);

      if (request.responseText == "Login OK") {
       localStorage.setItem('dni', this.dni);
       const detail ={result:'OK'};
       this.dispatchEvent(new CustomEvent('loginEvent', { detail }));

      }
    }
  }

  window.customElements.define(MyLogin.is, MyLogin);

  </script>

</dom-module>
