<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html" />
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">

<dom-module id="my-movimientos">
  <template>
  <style include="shared-styles">
    :host{

    }
    #myform{
      padding: 2em 4em;
      margin: 1em 35%;
    }

  </style>
  <app-location
    route="{{route}}"
    url-space-regex="^[[rootPath]]">
  </app-location>

  <app-route
    route="{{route}}"
    pattern="[[rootPath]]:page"
    data="{{routeData}}"
    tail="{{subroute}}">
  </app-route>


  <div class="card">
  <button id="btn" on-click="volver" class="forgot-password">Volver</button>
    <div class="row">
      <h1 class="col-lg-12">Gestor de movimientos</h1>
        <!-- <button type="button" on-click="mostrar">Ver movimientos</button> -->
      <table class="table table-striped">
        <tbody>
          <tr>
            <th>idMovimiento</th>
            <th>Importe</th>
            <th>Lugar</th>
          </tr>
          <template is="dom-repeat" items="{{movimientos}}">
            <tr>
              <td>
                [[item.idMovimiento]]
              </td>
              <td>
                [[item.importe]]
              </td>
              <td>
                <button on-click="order"><i class="glyphicon glyphicon-globe"></i></button>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
      <div class="container">
        <button class="btn btn-lg btn-primary btn-block" on-click="verForm">
            Hacer transferencia</button>
      </div>
    </div>
  </div>

  <div id="myform" class="card" hidden=[[hidden]]>
    <div class="row" >
      <form class="form">
        <label for="basic-url">Numero de cuenta</label>
        <input class="form-control" name="IBAN" placeholder="XXXX-XXXX-XXXX-XXXX" type="text" required/>
        <label for="basic-url">Importe</label>
        <div class="input-group">
          <input type="text" class="form-control" value={{importe::input}} aria-label="Amount (to the nearest dollar)">
          <span class="input-group-addon">$</span>
        </div>
        <br>
        <button class="btn btn-lg btn-primary btn-block" on-click="transfer" type="submit">
            Realizar</button>
      </form>
    </div>
    <div hidden=[[transferalert]] class="alert alert-success" role="alert">Tranferencia realizada!</div>
  </div>

  </template>
  <script>
  class MyMovimientos extends Polymer.Element {
    static get is() { return 'my-movimientos'; }
    static get properties() {
      return {
        movimientos: {
          type: Array,
          notify: true
        },
        hidden: {
          type: Boolean,
          value: true
        },
        transferalert: {
          type: Boolean,
          value: true
        },
        importe: String,
        mostrar: function(){
          var request = new XMLHttpRequest();
          var dnicliente = localStorage.getItem('dni');
          var ncuenta = localStorage.getItem('indexMov');

          request.open("GET", "http://localhost:3000/clientes/"+dnicliente+"/cuentas/"+ncuenta+"/movimientos", false);
          request.setRequestHeader("Accept", "application/json");
          request.send();
          this.movimientos = JSON.parse(request.responseText);
          console.log("CARGO: "+this.movimientos);
        }
      };
    }
    ready(){
      super.ready();
      this.mostrar();
    }
    mostrar(){
      var request = new XMLHttpRequest();
      var dnicliente = localStorage.getItem('dni');
      var ncuenta = localStorage.getItem('indexMov');

      request.open("GET", "http://localhost:3000/clientes/"+dnicliente+"/cuentas/"+ncuenta+"/movimientos", false);
      request.setRequestHeader("Accept", "application/json");
      request.send();
      this.movimientos = JSON.parse(request.responseText);
      console.log("CARGO: "+this.movimientos);
    }
    order(e) {
      //console.log(e.model);
      var latitud = e.model.__data.item.latitud;
      var longitud = e.model.__data.item.longitud;

      localStorage.setItem('latitud', latitud);
      localStorage.setItem('longitud', longitud);
      this.dispatchEvent(new CustomEvent('verMapa', { longitud }));

    }
    volver(){
      var flag = "volviendo";
      this.dispatchEvent(new CustomEvent('loginEvent', { flag }));
    }
    verForm(){
      this.hidden = false;
    }
    transfer(){
      var nuevoMov = {
        dni: localStorage.getItem('dni'),
        idCuent: localStorage.getItem('idCuent'),
        movimiento : {
          idMovimiento: 12345678,
          importe: this.importe,
          latitud: 40.523998,
          longitud: -3.630185
        }
      };
      var request = new XMLHttpRequest();
      request.open("POST","http://localhost:3000/movimientosmongo",false);
      request.setRequestHeader("Accept","application/json");
      request.setRequestHeader("Content-Type","application/json");
      var body = JSON.stringify(nuevoMov);
      request.send(body);
      console.log(body);
      this.respuesta = request.responseText;
      console.log(this.respuesta);
      this.transferalert = false;
    }

  }


  window.customElements.define(MyMovimientos.is, MyMovimientos);

  </script>

</dom-module>
