<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="my-register">
  <template>
    <style>
      :host{
      }
      .form-control { margin-bottom: 10px; }
      #myform{
        padding: 1em 3em;
        margin: 1em 35%;
      }
      #formreg{
        background-image: url(https://www.bbva.com.co/fbin/mult/Preaprobados_BBVA-b-d_tcm1304-667986.jpg);
      }
      legend,label{
        color: #ffffff;
      }
    </style>

    <div class="container" id="myform" hidden=[[hidden]]>
        <div class="row">
            <div id="formreg" class="col-xs-12 col-sm-12 col-md-4 well well-sm">
                <legend><i class="glyphicon glyphicon-globe"></i> Sign up!</legend>
                <form class="form" role="form">
                  <div class="row">
                      <div class="col-xs-6 col-md-6">
                          <input class="form-control" name="nombre" placeholder="First Name" type="text" value={{nombre::input}}
                              required autofocus />
                      </div>
                      <div class="col-xs-6 col-md-6">
                          <input class="form-control" name="apellido" placeholder="Last Name" type="text" value={{apellido::input}} required />
                      </div>
                  </div>
                  <input class="form-control" name="dni" placeholder="DNI" pattern="\d{8}\w{1}" value={{dni::input}} required/>
                  <input class="form-control" name="password" placeholder="New Password" value={{password::input}} type="password" required/>
                  <input class="form-control" name="email" placeholder="Your Email" value={{email::input}} type="email" />
                  <br />
                  <br />
                  <label>Birth Date</label>
                  <input class="form-control" name="birthdate" type="date" value={{birthdate::input}}/>
                  <br />
                  <br />
                  <button class="btn btn-lg btn-primary btn-block" on-click="signup" type="submit">
                      Sign up</button>
                </form>
            </div>
        </div>
    </div>
  </template>
  <script>
    class MyRegister extends Polymer.Element {
      static get is() { return 'my-register'; }
      static get properties() {
        return {
          hidden:{
            type: Boolean,
            value: false
          },
          nombre: {
            type: String,
            value: ""
          },
          apellido: {
            type: String,
            value: ""
          },
          idCliente: {
            type: String,
            value: ""
          },
          password: {
            type: String,
            value: ""
          },
          email: {
            type: String,
            value: ""
          },
          birthdate: {
            type: Date,
          }
        };
      }
      signup(){
        var nuevoCliente = {
          nombre: this.nombre,
          apellido: this.apellido,
          dni: this.dni,
          password : this.password,
          email: this.email,
          cuentas : [],
          birthdate: this.birthdate
        };
        var request = new XMLHttpRequest();
        request.open("POST","http://localhost:3000/clientes",false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type","application/json");
        var body = JSON.stringify(nuevoCliente);
        request.send(body);
        console.log(body);
        this.respuesta = request.responseText;
        console.log(this.respuesta);
        alert("Alta efectuada correctamente!");
      }
    }

    window.customElements.define(MyRegister.is, MyRegister);
  </script>
</dom-module>
