<link rel="import" href="../../bower_components/polymer/polymer-element.html">


<dom-module id="nav-element">
  <template>
    <style>
    :host{

    }
    </style>

    <ul class="nav nav-pills nav-stacked">
      <li>
        <button type="button" class="btn btn-primary" >Cuentas</button><br>
        <button type="button" class="btn btn-primary" >Hacer movimientos</button>
      </li>
    </ul>


  </template>
  <script>
    class NavElement extends Polymer.Element {
      static get is() { return 'nav-element'; }
      static get properties() {
        return {
          hidden:{
            type: Boolean,
            value: false
          }
        };
      }
    }

    window.customElements.define(NavElement.is, NavElement);

  </script>
</dom-module>
